version: "3"

services:
  front:
    container_name: tmp_next
    build: ./docker/next
    volumes:
      - ./next:/next
    tty: true
    ports:
      - 8080:8080
    depends_on:
      - api
    command: yarn dev

  api:
    container_name: tmp_nest
    build: ./docker/nest
    tty: true
    ports:
      - 3000:3000
    volumes:
      - "./nest:/nest"
    depends_on:
      - db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DB_PORT: ${MYSQL_DB_PORT}
    command: yarn start:dev

  db:
    container_name: tmp_mysql
    image: mysql:8.0
    volumes:
      - nest_data:/var/lib/mysql
      - ./db/logs:/var/log/mysql
      - ./db/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./db:/docker-entrypoint-initdb.d
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - TZ=${TZ}
    ports:
      - ${MYSQL_DB_PORT}:3306

volumes:
  nest_data:
